.box {
    height: 100px;
    width: 90%;
    margin: 16px;
    font-size: 10px;
    background-color: #fff;
    text-align: left;
    margin-bottom: 40px;
    padding: 20px;
    margin: auto;
    border: 1px solid #DDD;
}

#border-fix {
    border-bottom: 1px solid white;
}

.account-logo {
    height: 100px;
    vertical-align: middle;
    margin-right: 10%;
}


.box a {
    margin-bottom: 40px;
    font-size: 4vw;
    margin-left: 10%;
    color: skyblue;
}

.box a:hover {
    color: lightgreen;
}