.site-content {
    padding-top: 0px;
    position: relative;
}

h1 {
    color: lightblue;
}

.form-content {
    background: rgb(250 250, 250);
    border: none;
}

.continue {
    color: white;
    font-size: 19px;
    padding: 5px;
}

.continue:hover {
    color: rgb(0, 169, 157);
    border: 3px solid rgb(0, 169, 157);
}

.container {
    margin: 0px 0px;
}

.welcome {
    height 100%;
    vertical-align: top;
    padding-right: 70px;
}

.welcome img {
    width: 250px;
    display: block;
}

.container .welcome,
.container .form-content {
    display: inline-block;
    text-align: top;
    margin: 20px;
}

.sign-bar {
    padding-top: 10px;
    height: 130px;
    width: 100%;
    background-color: #e15255;
    display: inline-block;
}

.input-bar {
    margin-right: 30px;
    padding: 3px;
    border: none;
    border-radius: 0px;
}

.warm-welcome {
    color: lightblue;
    font-size: 17px;
}

#sign_in {
    display: inline-block;
    line-height: 25px;
    float: right;
    color: white;
    font-size: 15px;
}

#sign {
    border: none;
    margin-right: 30px;
    width: 60px;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-image: linear-gradient(#e15255, #e15255);
    box-shadow: inset 0px 0px 0px 2px white;
}

#sign:hover {
    color: #B3E5FC;
    box-shadow: inset 0px 0px 0px 2px #B3E5FC;
}

.invisible {
    display: none;
}

@media only screen and (max-width: 750px) {
    .site-content {
        top: 0;
    }
    .sign-bar {
        height: inherit;
        line-height: 15px;
        height: 300px;
    }
    #sign {
        width: 41%;
        margin-top: 20px;
        margin-left: 30%;
    }
    #sign_in {
        width: 100%;
        line-height: 40px;
        margin-top: 40px;
    }
    .input-bar {
        width: 40%;
        margin-left: 30%;
        height: 20px;
    }
    #sign_in div {
        margin-left: 30%;
    }
    .invisible {
        display: none;
        background-color: blue;
        height: 10px;
        width: 30px;
    }
    .welcome {
        padding-right: 0px;
    }
}