.form {
    height: auto;
    width: 100%;
    margin-left: 10%;
    color: #e15255;
    font-size: 12px;
}

.form-content {
    margin-top: 66px;
    max-width: 280px;
    font-size: 10px;
    border-radius: 6px;
    background-color: #303030;
    border: 1px solid lightgrey;
    text-align: left;
    display: block;
    padding-bottom: 40px;
    margin: 0;
}

.form-content div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.input {
    margin-left: 10%;
    height: 20px;
    border-radius: 0px;
    width: 80%;
    border: none;
    box-shadow: none;
    background-image: linear-gradient(#404040, #404040);
    margin: 0;
    padding: 0;
    color: white;
    background-color: red;
}

.item {
    margin-top: 10px;
    line-height: 10px;
}

.button {
    text-align: center;
    width: 50%;
    margin-left: 15%;
    margin-top: 10px;
    background-image: linear-gradient(#e15255, #e15255);
    height: 35px;
    border: none;
    background-color: #009287;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.button:hover {
    background-image: linear-gradient(#00a99d, #00a99d);
}

.fdp {
    font-size: 9px;
    color: #7986CB;
    text-align: inherit;
    padding-bottom: 30px;
}

.img_form {
    width: 30%;
    margin-top: 50px;
    margin-left: 35%;
}