/* line 5, ../sass/menu.scss */
html, body {
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/menu.scss */
.site-content {
  padding-top: 66px;
}

/* line 18, ../sass/menu.scss */
.container {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1;
}

/* line 23, ../sass/menu.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 28, ../sass/menu.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: #102684;
}

/* line 40, ../sass/menu.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 46, ../sass/menu.scss */
.menu {
  float: left;
}
/* line 49, ../sass/menu.scss */
.menu a {
  padding: 0 10px;
}
/* line 50, ../sass/menu.scss */
.menu a:hover {
  color: Darkred;
}

/* RESPONSIVE */
@media only screen and (max-width: 750px) {
  /* line 58, ../sass/menu.scss */
  .site-container {
    height: 100%;
    overflow: hidden;
  }

  /* line 59, ../sass/menu.scss */
  .site-pusher {
    height: 100%;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 65, ../sass/menu.scss */
  .header {
    position: static;
  }

  /* line 69, ../sass/menu.scss */
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* line 80, ../sass/menu.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 66px;
    height: 66px;
    cursor: pointer;
  }
  /* line 88, ../sass/menu.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 23px;
    -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  /* line 100, ../sass/menu.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #132d9b;
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  /* line 110, ../sass/menu.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #fff;
  }

  /* line 120, ../sass/menu.scss */
  .width--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 121, ../sass/menu.scss */
  .width--sidebar .site-cache {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
